<!-- תיבת מודעה -->
<div class="ad-container">
  <div class="ad-box-wrapper">
    <!-- סט ראשון של מודעות -->
    <div class="ad-box">
      <img src="../../../../assets/images/image_peta_ds.webp" alt="Ad Image" class="ad-image">
      <div class="ad-content">
        <h4>Welcome to our platform! Stay tuned for updates</h4>
        <p>link</p>
        <a href="https://Flight_Site_client.onrender.com/#/login" target="_blank">paw-pal-network</a>
      </div>
    </div>

    <div class="ad-box">
      <img src="../../../../assets/images/image_peta_ds2.webp" alt="Another Ad" class="ad-image">
      <div class="ad-content">
        <h4>Your Profile</h4>
        <p>Visit your profile</p>
        <a [href]="'/#/profile/:username'" class="user-link">Go to page</a>
      </div>
    </div>

    <!-- מודעה 3 -->
    <div class="ad-box">
      <img src="../../../../assets/images/ad3.webp" alt="Placeholder Image 1" class="ad-image">
      <div class="ad-content">
        <h4>Tips</h4>
        <p>Tips for caring for your pet to ensure a healthy and happy life.</p>
        <a [href]="'/#/interests'" class="user-link">Check Now</a>
      </div>
    </div>

    <!-- מודעה 4 -->
    <div class="ad-box">
      <img src="../../../../assets/images/ad2.webp" alt="Placeholder Image 2" class="ad-image">
      <div class="ad-content">
        <h4>Connect with Friends</h4>
        <p>Look for new friends for your pet in the area near you and start playing together!.</p>
        <a [href]="'/#/search'" class="user-link">Find Friends</a>
      </div>
    </div>

    <!-- מודעה 5 -->
    <div class="ad-box">
      <img src="../../../../assets/images/ad4.webp" alt="Placeholder Image 3" class="ad-image">
      <div class="ad-content">
        <h4>need help?</h4>
        <p>Please do not hesitate to contact us!</p>
        <a [href]="'/#/about'" class="user-link">for each request</a>
      </div>
    </div>
    <div></div>
  </div>

  <!-- שכפול ה-wrapper כדי ליצור אפקט רציף -->
  <div class="ad-box-wrapper">
    <!-- חזרה על המודעות ליצירת אפקט מחזורי -->
    <div class="ad-box">
      <img src="../../../../assets/images/image_peta_ds.webp" alt="Ad Image" class="ad-image">
      <div class="ad-content">
        <h4>Welcome to our platform! Stay tuned for updates</h4>
        <p>link</p>
        <a href="https://Flight_Site_client.onrender.com/#/login" target="_blank">paw-pal-network</a>
      </div>
    </div>

    <div class="ad-box">
      <img src="../../../../assets/images/image_peta_ds2.webp" alt="Another Ad" class="ad-image">
      <div class="ad-content">
        <h4>Your Profile</h4>
        <p>Visit your profile</p>
        <a [href]="'/#/profile/:username'" class="user-link">Go to page</a>
      </div>
    </div>

    <!-- מודעה 3 -->
    <div class="ad-box">
      <img src="../../../../assets/images/ad3.webp" alt="Placeholder Image 1" class="ad-image">
      <div class="ad-content">
        <h4>Tips</h4>
        <p>Tips for caring for your pet to ensure a healthy and happy life.</p>
        <a [href]="'/#/interests'" class="user-link">Check Now</a>
      </div>
    </div>

    <!-- מודעה 4 -->
    <div class="ad-box">
      <img src="../../../../assets/images/ad2.webp" alt="Placeholder Image 2" class="ad-image">
      <div class="ad-content">
        <h4>Connect with Friends</h4>
        <p>Look for new friends for your pet in the area near you and start playing together!.</p>
        <a [href]="'/#/search'" class="user-link">Find Friends</a>
      </div>
    </div>

    <!-- מודעה 5 -->
    <div class="ad-box">
      <img src="../../../../assets/images/ad4.webp" alt="Placeholder Image 3" class="ad-image">
      <div class="ad-content">
        <h4>need help?</h4>
        <p>Please do not hesitate to contact us!</p>
        <a [href]="'/#/about'" class="user-link">for each request</a>
      </div>
    </div>
  </div>
</div>




<div class="home-container">
  <div class="home-container">
    <div class="flight-search-container">
      <h2>חיפוש טיסות</h2>
      <form (ngSubmit)="searchFlights()">
        <div>
          <label for="origin">עיר מוצא:</label>
          <input type="text" id="origin" [(ngModel)]="origin" name="origin" />
        </div>
        <div>
          <label for="destination">עיר יעד:</label>
          <input type="text" id="destination" [(ngModel)]="destination" name="destination" />
        </div>
        <div>
          <label for="date">תאריך:</label>
          <input type="date" id="date" [(ngModel)]="date" name="date" />
        </div>
        <div>
          <label for="time">שעה:</label>
          <input type="time" id="time" [(ngModel)]="time" name="time" />
        </div>
        <button type="submit">חפש טיסות</button>
      </form>
    </div>
    
    <!-- כפתור לטעינת כל הטיסות -->
    <button (click)="loadAllFlights()">טען את כל הטיסות</button>
    
    <!-- הצגת כל הטיסות או תוצאות החיפוש -->
    <div *ngIf="flightResults.length > 0" class="flight-results">
      <h3>תוצאות</h3>
      <div *ngFor="let flight of flightResults" (click)="selectFlight(flight)">
        <p>טיסה מ{{ flight.origin }} ל{{ flight.destination }} בתאריך {{ flight.date }} בשעה {{ flight.time }} - ${{ flight.price }}</p>
      </div>
    </div>
  </div>
  </div>

